.hero{
    background-color: #0E0F1A;
    color: #fff;
    padding: 200px;
    text-align: center;
}

.cuz-nav-bg{
    background-color: #0E0F1A;
}

.sections{
    padding-top: 50px;
    padding-bottom: 50px;
}

.heading{
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 64px;
}

.title-hash::after{
content: '#';
color: aqua;
}

.sub-heading:hover + .title-hash::after{
    color: rgba(207, 207, 207, 0.815)a(255, 0, 0, 0.322);
}

.sub-heading{
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-bottom: 60px;
}

.para{
    font-family: 'Inter', sans-serif;
    color:#fff;
    font-size: 40px;
}

.borderDiv{
    border: 2px solid #000;
    border-radius: 20px;
    padding: 30px;
}
.bi{
    padding-left: 5px;
}

.project-title{
    color:#4385F5;
    font-weight: 700;
}

.coz-icon{
    height: 50px;
    width: 50px;
}

.text-justify {
    text-align: justify;
  }
  
.secc-one{
    margin-top: 0px;
}

.round{
    border-radius: 20px;
}

.abt-me-btns{
    margin-bottom: 20px;
}

.abt-me-img-1{
    display: none;
}
.abt-me-img-2{
    display: block;
}

.p-edu-year{
    color:#1565C0;
    font-size: 16;
    font-weight: 700;
}

.p-edu-title{
    font-size: 24;
    font-weight: 700;
}

.p-edu-sub-title{
    color:#757575;
    font-size: 16;
    font-weight: 600;
}


 @media only screen and (max-width: 600px)
 {
    .secc-one{
        margin-top: 50px;
    }
    .sections {
        padding-top:0px;
        padding-bottom: 50px;
    }

    .abt-me-btns{
       display: flex;
       justify-content: space-around;
    }

    .abt-me-img-1{
        display: block;
    }
    .abt-me-img-2{
        display: none;
    }
 }
